canvas {
    display: block;
}

/*
    slider appearance
*/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #E0E0E0;
    outline: none;
}

/* 
    slider inner thing 
    referred to this for help:
    https://stackoverflow.com/questions/41609481/trouble-styling-range-input-thumb 
*/
input[type="range"]::-webkit-slider-thumb {
    width: 8px;
    -webkit-appearance: none;
    height: 8px;
    cursor: ew-resize;
    background: #434343;
}

/* 
    using a local/custom font
    referred to this for help:
    https://stackoverflow.com/questions/107936/how-to-add-some-non-standard-font-to-a-website 
*/
@font-face {
    font-family: 'Faucet';
    src: url('fonts/A2Z-Faucet-Light.otf');
}

#user-input {
    padding: 10px 20px;
}

button {
    background-color: #f1f1f1;
    color: black;
    border: 2px solid darkgray;
    padding: 10px 20px;
}

button:hover {
    box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.15), 0 10px 20px 0 rgba(0, 0, 0, 0.12);
}