.item {
    width: 600px;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item-thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 5px;
    border: solid 3px black;
}

.item-body {
    margin-top: 10px;
    padding-left: 130px;
    padding-right: 130px;
    text-align: center;
}