.item {
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.item-right {
    display: flex;
    width: 100px;
}

.item-left {
    flex-grow: 1;
}

.item-main-content {
    display: flex;
    flex-wrap: wrap;
    min-height: 75px;
}


.item-thumbnail {
    width: 200px;
    border-radius: 5px;
    border: solid 3px black;
}



.item-container {
    height: 42px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    margin-left: 20px;
}


#container {
    width: 700px;
    margin: 0px auto;
}

.remove {
    padding-left: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.total {
    margin-left: 250px;
    margin-right: 20px;
}

.float-right {
    float: right;
    margin: 20px;
}