.items {
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item {
    padding: 27px;
    box-sizing: border-box;
    display: block;
}

.item a {
    text-decoration: none;
}

.item-thumbnail {
    width: 285px;
    border-radius: 5px;
    border: solid 3px black;
}

.item-title {
    font-size: 22px;
    font-weight: 500;
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 0.8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-title:hover {
    font-weight: bolder;
}

.item:hover {
    background-color: yellow;
    cursor: pointer;
}