.logo {
    width: 400px;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

hr {
    border: 3px solid black;
    width: 100%;
}

h2 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
}

.head {
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: row;
    /* width: auto; */
    align-items: center;
}

.header-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pagination {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    width: auto;
}

.pag {
    flex-grow: 1;
}

.pagination a {
    text-decoration: none;
    color: black;
}

.current-pagination {
    font-weight: bold;
}

.other-pagination:hover {
    background-color: yellow;
}

.item-price {
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    border-width: 2px;
    border-color: black;
    padding: 10px;
    font-size: 20px;
    display: block;
    font-weight: bolder;
}

button:hover {
    background-color: yellow;
}

.auto-margin {
    margin-left: auto;
    margin-right: auto;
}

.small-font {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
}