.logo {
    width: 400px;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

hr {
    border: 3px solid black;
    width: 100%;
}

h2 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: lighter;
}

.row {
    box-sizing: border-box;
    display: flex;
}

.column {
    float: left;
    padding: 10px;
    height: 300px;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

.pagination {
    margin: 20px;
}

.pag {
    flex-grow: 1;
    padding-left: 100px;
}

.pagination a {
    text-decoration: none;
    color: black;
}

.current-pagination {
    font-weight: bold;
}

.other-pagination:hover {
    background-color: yellow;
}

.item-price {
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    border-width: 2px;
    border-color: black;
    padding: 10px;
    font-size: 20px;
    display: block;
    font-weight: bolder;
}

button:hover {
    background-color: yellow;
}

.auto-margin {
    margin-left: auto;
    margin-right: auto;
}

.small-font {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}